$nyanza: #e5f9e0ff;
$granny-smith-apple: #a3f7b5ff;
$caribbean-green: #40c9a2ff;
$viridian-green: #2f9c95ff;
$rose-ebony: #664147ff;

$text: $caribbean-green;
$link: $rose-ebony;
$dark: $viridian-green;
$body-background-color: $nyanza;
$primary: $viridian-green;

$navbar-item-color: $nyanza !important;
$navbar-burger-color: $nyanza !important;
$navbar-dropdown-background-color: $dark !important;

@media screen and (max-width: 1087px) {
    .navbar-menu {
        background-color: $dark !important;
    }
    .navbar-item:hover {
        background-color: $dark !important;
    }
}

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/form/_all.sass";
@import "../node_modules/bulma/sass/components/dropdown.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/helpers/color.sass";
@import "../node_modules/bulma/sass/helpers/typography.sass";
@import "../node_modules/bulma/sass/helpers/spacing.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";